<div class="wow fadeIn top" data-wow-duration="3.5s" >
    <span class="wow fadeInUp" data-wow-delay="0.2s">{{ page.page-title }}</span>
    <span class="wow fadeInUp" data-wow-delay="0.4s">{{ page.home-title }}</span>
    <span class="wow fadeInUp" data-wow-delay="0.6s">
	<a href="https://travis-ci.com/renfei-net/WinterEE" target="_blank"><img src="https://api.travis-ci.com/renfei-net/WinterEE.svg?branch=master" /></a>
	<a href="https://coveralls.io/github/renfei-net/WinterEE?branch=master" target="_blank"><img src="https://coveralls.io/repos/github/renfei-net/WinterEE/badge.svg?branch=master" /></a>
	<a href="https://codebeat.co/projects/github-com-renfei-net-winteree-master" target="_blank"><img src="https://codebeat.co/badges/c9071c17-7646-4790-831f-d57ec130efd5" /></a>
	<a href="https://ci.appveyor.com/project/NeilRen/winteree/branch/master" target="_blank"><img src="https://ci.appveyor.com/api/projects/status/7nnjlgf4a7cppn9f/branch/master?svg=true" /></a>
	</span>
</div>
